# Puerto del servidor
PORT=3000

# mongo
# MONGO_URI="mongodb://davidcocoj_db_user:x76vJnUqOXZcE4Ds@ac-hwndhr0-shard-00-00.bu22zzm.mongodb.net:27017,ac-hwndhr0-shard-00-01.bu22zzm.mongodb.net:27017,ac-hwndhr0-shard-00-02.bu22zzm.mongodb.net:27017/?ssl=true&replicaSet=atlas-crm0ii-shard-0&authSource=admin&appName=Cluster0"

# Entorno
NODE_ENV=development

# admin
ADMIN_USER=admin
ADMIN_PASS=admin123